<h2>Diabetes Test</h2>
<form id="questionforms" name="questionforms">
    <div class="form-group row">
        <label for="inputState" class="col-sm-3 col-form-label">Have Diabetic Parent</label>
        <div class="col-sm-9">
            <select id="parent-value" required class="form-control">
                <option selected disabled>Choose...</option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
    </div>

    <hr>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="s1">Increased thirst</label>
            {{!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                S1
            </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    This is Explanation S1
                </div>
            </div> --}}
            <select id="s1" class="form-control" required>
                <option disabled selected>Choose...</option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="s2">Frequent Urination</label>
            {{!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#explanationS2"
                aria-expanded="false" aria-controls="explanationS2">
                S2
            </button>
            <div class="collapse" id="explanationS2">
                <div class="card card-body">
                    This is the explanation of S2
                </div>
            </div> --}}
            <select id="s2" required class="form-control">
                <option disabled selected>Choose...</option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="s3">Increased Hunger</label>
            {{!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#explanationS3"
                aria-expanded="false" aria-controls="explanationS2">
                S3
            </button>
            <div class="collapse" id="explanationS3">
                <div class="card card-body">
                    This is the explanation of S3
                </div>
            </div> --}}
            <select id="s3" required class="form-control">
                <option disabled selected>Choose...</option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="s4">Unintentional Weight Loss</label>
            {{!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#explanationS4"
                aria-expanded="false" aria-controls="explanationS2">
                S4
            </button>
            <div class="collapse" id="explanationS4">
                <div class="card card-body">
                    This is the explanation of S4
                </div>
            </div> --}}
            <select id="s4" required class="form-control">
                <option disabled selected>Choose...</option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="s5">Very dry skin</label>
            {{!-- <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#explanationS5"
                aria-expanded="false" aria-controls="explanationS5">
                Very dry skin
            </button>
            <div class="collapse" id="explanationS5">
                <div class="card card-body">
                    This is the explanation of S5
                </div>
            </div> --}}
            <select id="s5" required class="form-control">
                <option disabled selected>Choose...</option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="s6">Tingling or numbness in hands or feet</label>
            {{!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#explanationS6"
                aria-expanded="false" aria-controls="explanationS2">
                S6
            </button>
            <div class="collapse" id="explanationS6">
                <div class="card card-body">
                    This is the explanation of S6
                </div>
            </div> --}}
            <select id="s6" required class="form-control">
                <option disabled selected>Choose...</option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="s7">Tiredness / Extreme Fatigue</label>
            {{!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#explanationS7"
                aria-expanded="false" aria-controls="explanationS7">
                S7
            </button>
            <div class="collapse" id="explanationS7">
                <div class="card card-body">
                    This is the explanation of S7
                </div>
            </div> --}}
            <select id="s7" required class="form-control">
                <option disabled selected>Choose...</option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="s8">Blurry Vision</label>
            {{!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#explanationS8"
                aria-expanded="false" aria-controls="explanationS2">
                S8
            </button>
            <div class="collapse" id="explanationS8">
                <div class="card card-body">
                    This is the explanation of S8
                </div>
            </div> --}}
            <select id="s8" class="form-control">
                <option disabled selected>Choose...</option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="s9">Sores That don’t Heal</label>
            {{!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#explanationS9"
                aria-expanded="false" aria-controls="explanationS2">
                S9
            </button>
            <div class="collapse" id="explanationS9">
                <div class="card card-body">
                    This is the explanation of S9
                </div>
            </div> --}}
            <select id="s9" class="form-control">
                <option disabled selected>Choose...</option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="s10">More infections than usual</label>
            {{!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#explanationS10"
                aria-expanded="false" aria-controls="explanationS10">
                S10
            </button>
            <div class="collapse" id="explanationS10">
                <div class="card card-body">
                    This is the explanation of S10
                </div>
            </div> --}}
            <select id="s10" required class="form-control">
                <option disabled selected>Choose...</option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
    </div>
    <hr>
    <div class="form-group row">
        <label for="fpg" class="col-sm-4 col-form-label">Fasting Blood Sugar Test</label>
        <div class="col-sm-8">
            <input type="number" class="form-control" id="fpg" name="fpd" placeholder="fpg test" />
        </div>
    </div>
    <div class="form-group row">
        <label for="gthae" class="col-sm-4 col-form-label">Two-Hour Postprandial Glucose Test</label>
        <div class="col-sm-8">
            <input type="number" class="form-control" id="gthae" name="gthae" placeholder="fpgae test">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
<hr>
{{!-- percentage --}}
<p id="results"></p>
<p id="ParentTest"></p>
<p id="SymptomsTest"></p>
<p id="fpgTest"></p>
<p id="gthaeTest"></p>
<p id="finalResult"></p>

<hr>
<br>
<br>